@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
}


@layer components {


  /* SHARED */
  body {
    @apply font-montserrat text-secondaryDark
  }

  .borderLight {
    @apply border-[1px] border-white border-opacity-20
  }

  .borderDark {
    @apply border-[1px] border-black border-opacity-20
  }

  .customPadding {
    @apply px-4 sm:p-8
  }
  .customWidth{
    @apply max-w-[1280px] mx-auto
  }

  .cardBgLight{
    @apply bg-bgLight rounded-lg
  }
  /* ICONS */

  .icon {
    @apply aspect-square cursor-pointer w-8
  }

  .nav-icon {
    @apply w-8 
  }

 
}